            <!-- Page title -->
            <div class="page-title">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="page-title-heading">
                                <h1 class="title">Profile</h1>
                            </div> <!-- /.page-title-captions -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-lg-6 col-md-6 col-xs-12">
                        </div><!-- /.col-md-6 -->
                    </div> <!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.page-title -->
        </div><!-- /.wrap-header -->

        <!-- Blog posts -->
        
        <section class="flat-row custom-flat-row pd-destination-details bg-theme">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="wrap-destination-detail custom-wrap-destination-detail">
                            <div class="box-trip-review custom-box-trip-review">
                                
                                <%- include('./../components/image-preview') %>

                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="box-map">
                                        <div class="info-map custom-info-map ">
                                            <div class="left">
                                                <p>Email</p>
                                                <p>Full Name</p>
                                                <p>Number</p>
                                                <p>Language Spoken</p>
                                            </div>
                                            <div class="right">
                                                <p><%= profile.email %></p>
                                                <p><%= profile.firstName !== null ? profile.firstName: 'N/A' %> <%= profile.lastName !== null ? profile.lastName : '' %></p>
                                                <p><%= profile.number !== null ? profile.number : 'N/A' %></p>
                                                <p><%= profile.languages !== null ? profile.languages : 'N/A' %></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-trip-review -->
                        </div>
                        <!-- /.post-wrap -->

                        <div class="wrap-title s2 profile-overview">
                            <h4>Overview</h4>
                        </div>
                        <p class="content-destination"><%= profile.description !== null ? profile.description : 'N/A' %></p>
                    </div>
                    <!-- /.col-md-9 -->

                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
        
        <% if (type == 'customer'){ %>
            <%- include('./../components/customer-profile-slider') %>
        <% }else if (type == 'user'){ %>
            <%- include('./../components/user-profile-slider') %>
        <% } %>