            <!-- Page title -->
            <div class="page-title">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="page-title-heading">
                                <h1 class="title">Update Tour</h1>
                            </div>
                            <!-- /.page-title-captions -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-lg-6 col-md-6 col-xs-12">
                        </div>
                        <!-- /.col-md-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.page-title -->
        </div>
        <!-- /.wrap-header -->
              

        <section class="flat-row custom-flat-row pd-destination-details bg-theme">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="wrap-contact-title wrap-touch">
                            <form action="/customer/tours/update/<%= tour.id %>"  method="post" enctype="multipart/form-data" novalidate class="contact-form" id="contactform">
                                <div class="wrap-input">
                                    <div class="col-md-6">
                                        <div class="profile-input">                                      
                                            <input id="demo1" class="demo1 form-input-size" name="images" type="file" multiple placeholder="Select Files" />
                                            <% if (errors.image) { %>
                                                <p style="color: red;"><%= errors.image %></p>
                                            <% } %> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile-input">                                      
                                            <input class="form-input-size" type="text" name="title" placeholder="Title*" aria-required="true" size="30" value="" id="author">
                                            <% if (errors.title) { %>
                                                <p style="color: red;"><%= errors.title %></p>
                                            <% } %> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile-input">
                                            <select class="form-input-size" name="category">
                                                <option disabled selected>Category</option>
                                                <option value="culture-art">Culture & Art</option>
                                                <option value="beauty-health">Beauty & Health</option>
                                                <option value="entertainment">Entertainment</option>
                                                <option value="offroad">OffRoad</option>
                                                <option value="hunting">Hunting</option>
                                            </select>
                                            <% if (errors.category) { %>
                                                <p style="color: red;"><%= errors.category %></p>
                                            <% } %> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile-input">
                                            <select class="form-input-size" name="guide">
                                                <option disabled selected>Guide</option>
                                                <% for(let i=0; i < guides.length; i++ ){ %>
                                                    <option value="<%= guides[i].id %>"><%= guides[i].email %></option>
                                                <% } %>
                                            </select>
                                            <% if (errors.guide) { %>
                                                <p style="color: red;"><%= errors.guide %></p>
                                            <% } %> 
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="profile-input">
                                            <select class="form-input-size" name="country">
                                                <option disabled selected>Country</option>
                                                <option>Azerbaijan</option>
                                                <option>Turkey</option>
                                                <option>Georgia</option>
                                            </select>
                                            <% if (errors.country) { %>
                                                <p style="color: red;"><%= errors.country %></p>
                                            <% } %> 
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="profile-input">
                                            <select class="form-input-size" name="city">
                                                <option disabled selected>City</option>
                                                <option>Baku</option>
                                                <option>Shaki</option>
                                                <option>Guba</option>
                                            </select>
                                            <% if (errors.city) { %>
                                                <p style="color: red;"><%= errors.city %></p>
                                            <% } %> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile-input">                                      
                                            <input class="form-input-size" type="text" name="area" placeholder="Area*" aria-required="true" size="30" value="" id="LestName">
                                            <% if (errors.area) { %>
                                                <p style="color: red;"><%= errors.area %></p>
                                            <% } %> 
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="profile-input input-group date form_date" data-date="" data-date-format="mm/dd/yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                            <input class="form-control form-input-size" name="date" placeholder="Date" size="16" type="text" value="" readonly>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <% if (errors.date) { %>
                                            <p style="color: red;"><%= errors.date %></p>
                                        <% } %> 
                                    </div>
                                    <div class="col-md-3">
                                        <div class="profile-input input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input2" data-link-format="hh:ii">
                                            <input class="form-control form-input-size" name="time" placeholder="Time" size="16" type="text" value="" readonly>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                        </div>
                                        <% if (errors.time) { %>
                                            <p style="color: red;"><%= errors.time %></p>
                                        <% } %> 
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile-input">
                                            <select class="form-input-size" id="language" name="inclusions" data-placeholder="Inclusions" multiple data-multi-select>
                                                <option>Accommodation</option>
                                                <option>Tour Guide</option>
                                                <option>Breakfast</option>
                                                <option>Soft drinks (non-alcoholic)</option>
                                                <option>Alcoholic beverages</option>
                                                <option>Photo session</option>
                                                <option>Comfortable Transport</option>
                                                <option>Excursion</option>
                                            </select>
                                            <% if (errors.inclusions) { %>
                                                <p style="color: red;"><%= errors.inclusions %></p>
                                            <% } %> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile-input">
                                            <select class="form-input-size" name="duration">
                                                <option disabled selected>Duration</option>
                                                <option value="1">1 day</option>
                                                <option value="2">2 days</option>
                                                <option value="3">3 days</option>
                                                <option value="4">4 days</option>
                                                <option value="5">5 days</option>
                                                <option value="6">6 days</option>
                                            </select>
                                            <% if (errors.duration) { %>
                                                <p style="color: red;"><%= errors.duration %></p>
                                            <% } %> 
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="profile-input">                                      
                                            <input class="form-input-size" type="text" name="price" placeholder="Price*" aria-required="true" size="30" id="LestName">
                                            <% if (errors.price) { %>
                                                <p style="color: red;"><%= errors.price %></p>
                                            <% } %> 
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="profile-input">
                                            <select class="form-input-size" name="currency">
                                                <option disabled selected>Currency</option>
                                                <option value="₼">AZN</option>
                                                <option value="$">USD</option>
                                                <option value="€">EUR</option>
                                            </select>
                                            <% if (errors.currency) { %>
                                                <p style="color: red;"><%= errors.currency %></p>
                                            <% } %> 
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="profile-input">
                                            <textarea name="overview" tabindex="4" placeholder="Overview*" required></textarea>
                                            <% if (errors.overview) { %>
                                                <p style="color: red;"><%= errors.overview %></p>
                                            <% } %> 
                                        </div>
                                        <div class="profile-input">
                                            <textarea name="additional" tabindex="4" placeholder="Additional Info" required></textarea>
                                            <% if (errors.additional) { %>
                                                <p style="color: red;"><%= errors.additional %></p>
                                            <% } %> 
                                        </div>
                                        <p class="form-submit">                 
                                            <button class="contact-submit">Send</button>
                                        </p>
                                    </div>
                                </div> 
                            </form>
                        </div>
                    </div><!-- /.col-md-9 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>