 <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->                      
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-sm-12">
                                <h4 class="page-title">Add New Event</h4>
                            </div>
                        </div>
                        
                        <div class="row"> 
                            <div class="col-lg-12"> 
                                <div class="tab-content col-lg-12"> 
                                    <div class="card-box">
                                        <h4 class="m-t-0 header-title"><b>Event Form</b></h4>
                                        <p class="text-muted font-13 m-b-30">
                                            <!-- Your events text goes here. -->
                                        </p>
                                                    
                                        <form action="/dashboard/events/update/<%= event.id %>" method="post" enctype="multipart/form-data" novalidate>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="control-label">Image</label>
                                                    <input type="file" class="filestyle" name="image" data-buttontext="Select file" data-buttonname="btn-white">
                                                    <% if (errors.image) { %>
                                                        <p style="color: red;"><%= errors.image %></p>
                                                    <% } %> 
                                                </div>
                                                <div class="form-group">
                                                    <label for="userName">Title</label>
                                                    <input type="text" name="title" value="<%= event.title %>" parsley-trigger="change" required placeholder="Enter event title" class="form-control" id="userName">
                                                    <% if (errors.title) { %>
                                                        <p style="color: red;"><%= errors.title %></p>
                                                    <% } %> 
                                                </div>
                                                <div class="form-group col-lg-3">
                                                    <label class="control-label">Country</label>
                                                    <select name="country" class="selectpicker" data-style="btn-white">
                                                        <option>Azerbaijan</option>
                                                        <option>Turkey</option>
                                                        <option>Georgia</option>
                                                    </select>
                                                    <% if (errors.country) { %>
                                                        <p style="color: red;"><%= errors.country %></p>
                                                    <% } %> 
                                                </div>
                                                <div class="form-group col-lg-3">
                                                    <label class="control-label">City</label>
                                                    <select name="city" class="selectpicker" data-style="btn-white">
                                                        <option>Baku</option>
                                                        <option>Guba</option>
                                                        <option>Shaki</option>
                                                    </select>
                                                    <% if (errors.city) { %>
                                                        <p style="color: red;"><%= errors.city %></p>
                                                    <% } %> 
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <label for="userName">Place</label>
                                                    <input type="text" name="place" parsley-trigger="change" required placeholder="Enter location" class="form-control" id="userName">
                                                    <% if (errors.place) { %>
                                                        <p style="color: red;"><%= errors.place %></p>
                                                    <% } %> 
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Date Range With Time</label>
                                                    <input type="text" class="form-control input-daterange-timepicker" name="date" value="<%= event.date %>"/>
                                                    <% if (errors.date) { %>
                                                        <p style="color: red;"><%= errors.date %></p>
                                                    <% } %> 
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Description</label>
                                                    <textarea name="description" required class="form-control"><%= event.description %></textarea>
                                                    <% if (errors.description) { %>
                                                        <p style="color: red;"><%= errors.description %></p>
                                                    <% } %> 
                                                </div>
                                            </div>
                                            <div class="form-group text-right m-b-0">
                                                <button class="btn btn-primary waves-effect waves-light" type="submit">
                                                    Update
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div> 
                            </div> 
                        </div>
                         <!-- end row -->
            		</div> <!-- container -->
                               
                </div> <!-- content -->

                <footer class="footer">
                    © 2016. All rights reserved.
                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->