 <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->                      
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-sm-12">
                                <h4 class="page-title">Add Your Tour</h4>
                            </div>
                        </div>
                        
                        <div class="row">
							<div class="col-lg-12">
								<div class="card-box">
									<h4 class="m-t-0 header-title"><b>Tour Form</b></h4>
									<p class="text-muted font-13 m-b-30">
	                                    <!-- Your events text goes here. -->
	                                </p>
		                                        
									<form action="/dashboard/tours" method="post" enctype="multipart/form-data" novalidate>
                                        <div class="col-lg-12">
                                            <div class="form-group col-lg-6">
                                                <label class="control-label">Image</label>
                                                <input type="file" class="filestyle" name="images" data-buttontext="Select images" data-buttonname="btn-white" multiple>
                                                <% if (errors.image) { %>
                                                    <p style="color: red;"><%= errors.image %></p>
                                                <% } %> 
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="userName">Title</label>
                                                <input type="text" name="title" parsley-trigger="change" required placeholder="Enter event title" class="form-control" id="userName">
                                                <% if (errors.title) { %>
                                                    <p style="color: red;"><%= errors.title %></p>
                                                <% } %> 
                                            </div>
                                            <div class="form-group col-lg-4">
                                                <label class="control-label">Category</label>
                                                <select name="category" class="selectpicker" data-style="btn-white">
                                                    <option value="culture-art">Culture & Art</option>
                                                    <option value="beauty-health">Beauty & Health</option>
                                                    <option value="entertainment">Entertainment</option>
                                                    <option value="offroad">OffRoad</option>
                                                    <option value="hunting">Hunting</option>
                                                </select>
                                                <% if (errors.category) { %>
                                                    <p style="color: red;"><%= errors.category %></p>
                                                <% } %> 
                                            </div>
                                            <div class="form-group col-lg-4">
                                                <label class="control-label">Guide</label>
                                                <select name="guide" class="selectpicker" data-style="btn-white">
                                                    <% for(let i=0; i < guides.length; i++ ){ %>
                                                    <option value="<%- guides[i].id %>"><%- guides[i].name %> <%- guides[i].surname %></option>
                                                    <% } %>
                                                </select>
                                                <% if (errors.guide) { %>
                                                    <p style="color: red;"><%= errors.guide %></p>
                                                <% } %> 
                                            </div>
                                            <div class="form-group col-lg-4">
                                                <label for="userName">Location</label>
                                                <input type="text" name="location" parsley-trigger="change" required placeholder="Enter location" class="form-control" id="userName">
                                                <% if (errors.location) { %>
                                                    <p style="color: red;"><%= errors.location %></p>
                                                <% } %> 
                                            </div>
                                            <div class="form-group col-lg-6" style="margin: 0;">
                                                <label class="control-label">Departure Time</label>
                                                <div style="display: flex;">
                                                    <div class="input-group col-lg-6" style="margin-right: 20px;">
                                                        <input type="text" name="date" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                                                        <span class="input-group-addon bg-custom b-0 text-white"><i class="icon-calender"></i></span>
                                                    </div>
                                                    <div class="input-group col-lg-6">
                                                        <div class="bootstrap-timepicker">
                                                            <input id="timepicker" name="time" type="text" class="form-control">
                                                        </div>
                                                        <span class="input-group-addon bg-custom b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
                                                    </div>
                                                </div>
                                                <% if (errors.time || errors.date) { %>
                                                    <p style="color: red;"><%= errors.date %><%= errors.time %></p>
                                                <% } %> 
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label class="control-label">Duration</label>
                                                <select name="duration" class="selectpicker" data-style="btn-white">
                                                    <option value="1">1 day</option>
                                                    <option value="2">2 days</option>
                                                    <option value="3">3 days</option>
                                                    <option value="4">4 days</option>
                                                    <option value="5">5 days</option>
                                                    <option value="6">6 days</option>
                                                </select>
                                                <% if (errors.duration) { %>
                                                    <p style="color: red;"><%= errors.duration %></p>
                                                <% } %> 
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="userName">Highlights</label>
                                                <select name="highlights" class="select2 select2-multiple" multiple="multiple" multiple data-placeholder="Choose ...">
                                                    <optgroup label="Languages">
                                                        <option value="Walking">Walking</option>
                                                        <option value="Breakfast">Breakfast</option>
                                                        <option value="Entertainment">Entertainment</option>
                                                        <option value="Dinner">Dinner</option>
                                                        <option value="Hotel">Hotel</option>
                                                    </optgroup>
                                                </select>
                                                <% if (errors.highlights) { %>
                                                    <p style="color: red;"><%= errors.highlights %></p>
                                                <% } %> 
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="userName">Inclusions</label>
                                                <select name="inclusions" class="select2 select2-multiple" multiple="multiple" multiple data-placeholder="Choose ...">
                                                    <optgroup label="Languages">
                                                        <option value="Walking">Walking</option>
                                                        <option value="Breakfast">Breakfast</option>
                                                        <option value="Entertainment">Entertainment</option>
                                                        <option value="Dinner">Dinner</option>
                                                        <option value="Hotel">Hotel</option>
                                                    </optgroup>
                                                </select>
                                                <% if (errors.inclusions) { %>
                                                    <p style="color: red;"><%= errors.inclusions %></p>
                                                <% } %> 
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="userName">Price</label>
                                                <input type="text" name="price" parsley-trigger="change" required placeholder="Enter location" class="form-control" id="userName">
                                                <% if (errors.price) { %>
                                                    <p style="color: red;"><%= errors.price %></p>
                                                <% } %> 
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label class="control-label">Currency</label>
                                                <select name="currency" class="selectpicker" data-style="btn-white">
                                                    <option>AZN</option>
                                                    <option>USD</option>
                                                    <option>EUR</option>
                                                </select>
                                                <% if (errors.currency) { %>
                                                    <p style="color: red;"><%= errors.currency %></p>
                                                <% } %> 
                                            </div>
                                        
                                            <div class="form-group col-lg-12">
                                                <label class="control-label">Overview</label>
                                                <textarea name="overview" required class="form-control"></textarea>
                                                <% if (errors.overview) { %>
                                                    <p style="color: red;"><%= errors.overview %></p>
                                                <% } %>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label class="control-label">Additional Info</label>
                                                <textarea name="additional" required class="form-control"></textarea>
                                                <% if (errors.additional) { %>
                                                    <p style="color: red;"><%= errors.additional %></p>
                                                <% } %>
                                            </div>
                                        </div>
										<div class="form-group text-right m-b-0">
											<button class="btn btn-primary waves-effect waves-light" type="submit">
												Submit
											</button>
										</div>
									</form>
                                
								</div>
							</div>
							
						</div>
                        
            		</div> <!-- container -->
                               
                </div> <!-- content -->

                <footer class="footer">
                    © 2016. All rights reserved.
                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->