<!-- Page title -->
<div class="page-title">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="page-title-heading">
                    <h1 class="title">Booking</h1>
                </div>
                <!-- /.page-title-captions -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6 col-md-6 col-xs-12">
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-title -->
</div>
<!-- /.wrap-header -->

<section class="flat-row pd-imagebox v6 custom-pd-destination-details">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section class="section-element">
                <div class="content-trip">
                    <h4 class="title">
                        <a href="#"><%= accommodation.title %> - <%= accommodation.price %> <%= accommodation.currency %></a>
                    </h4>
                    <p class="sub-title"><%= accommodation.country %>, <%= accommodation.city %></p>
                    <div class="wrap-star s2">
                        <ul class="star">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div> 

                <!-- Slider Start-->
                <div class="tour-slider">
                    <div id="ninja-slider" style="float:left;">
                        <div class="slider-inner">
                            <ul>
                                <% for(let image of accommodation.images ){%>
                                <li><a class="ns-img" href="/<%= image %>"></a></li>
                                <% } %>
                            </ul>
                            <div class="fs-icon" title="Expand/Close"></div>
                        </div>
                    </div>
                    <div id="thumbnail-slider" style="float:left;">
                        <div class="inner">
                            <ul>
                                <% for(let image of accommodation.images ){%>
                                    <li>
                                        <a class="thumb" href="/<%= image %>"></a>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <!-- Slider Emd-->

                <div class="flat-tabs" data-effect="fadeIn">
                    <div class="wrap-radio menu-tab">
                        <div class="radio active">
                            <input id="radio-1" name="radio" type="radio" checked="checked">
                            <label for="radio-1" class="radio-label">Check Availabilty</label>
                        </div>

                        <div class="radio">
                            <input id="radio-2" name="radio" type="radio">
                            <label for="radio-2" class="radio-label">Location</label>
                        </div>

                        <div class="radio">
                            <input id="radio-3" name="radio" type="radio">
                            <label for="radio-3" class="radio-label">Review</label>
                        </div>

                        <div class="radio">
                            <input id="radio-4" name="radio" type="radio">
                            <label for="radio-4" class="radio-label">Add Review</label>
                        </div>
                    </div>
                    <!-- /.menu-tab -->
                    <div class="content-tab">
                        <div class="content-inner active">
                            <div class="wrap-form-update">
                                <form class="update-form" action="">
                                    <div class="update-input">
                                        <div class="form-group">
                                            <label for="dtp_input2" class="col-md-1 control-label">From</label>
                                            <div class="input-group date form_date col-md-3" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                <input class="form-control" size="16" type="text" value="" readonly>
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                            <input type="hidden" id="dtp_input2" value="" /><br/>
                                        </div>
                                         <div class="form-group">
                                            <label for="dtp_input2" class="col-md-1 control-label">To</label>
                                            <div class="input-group date form_date col-md-3" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                <input class="form-control" size="16" type="text" value="" readonly>
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                            <input type="hidden" id="dtp_input2" value="" /><br/>
                                        </div>
                                        <div class="form-group">
                                            <p class="update-form-submit" style="margin: 0;">
                                                <button class="update-submit custom-update-submit">Update Now</button>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.content-inner -->

                        <div class="content-inner">
                            <div class="gm-map">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="map">
                                                Location <%= accommodation.country %>, <%= accommodation.city %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.content-inner -->

                        <div class="content-inner">
                            <div class="flat-list-review">
                                <ul class="list-review clearfix">
                                    <script> let starCounts = []; </script>
                                    <% for(let i=0; i < accommodation.reviews.length; i++){ %>
                                    <li class="item">
                                        <div class="thumb overlays2">
                                            <a href="#" class="link">
                                                <img src="/<%= users[i].image %>" alt="image" style="width: 93px;">
                                            </a>
                                        </div>
                                        <div class="text">
                                            <h5>
                                                <a href="#"><%= users[i].uname %></a>
                                            </h5>
                                            <p class="date">Aug 20, 2017</p>
                                            <div class="wrap-star s2 v1">
                                                <ul id="review-stars" class="star v1" required="required">
                                                    <li data-value="1"></li>
                                                    <li data-value="2"></li>
                                                    <li data-value="3"></li>
                                                    <li data-value="4"></li>
                                                    <li data-value="5"></li>
                                                </ul>
                                            </div>
                                            <div class="sub-title"><%= accommodation.reviews[i].review %></div>
                                            <script> starCounts.push('<%= accommodation.reviews[i].stars %>'); </script>
                                        </div>
                                    </li>
                                    <% } %>
                                </ul><!-- /.popular-news -->
                            </div>
                        </div><!-- /.content-inner -->
                
                        <%- include('./components/add-review.ejs') %>

                    </div>
                    <!-- /.content-tab -->
                </div>
                <!-- /.flat-tabs -->

                <div class="dividers"></div>

                <div class="flat-form-book-now">
                    <div class="wrap-content-title">
                        <div class="accommodation-count">
                            <p class="custom-p">
                                <i class="fa fa-users active" aria-hidden="true"></i> <%= accommodation.guestCount %> guests
                            </p>
                            <p>
                                <i class="fa fa-bed" aria-hidden="true"></i> <%= accommodation.roomCount %> bedroom
                            </p>
                            <p>
                                <i class="fa fa-bed" aria-hidden="true"></i> <%= accommodation.bedCount %> bed
                            </p>
                            <p>
                                <i class="fa fa-bed" aria-hidden="true"></i> <%= accommodation.bathCount %> bath
                            </p>
                        </div>
                        <h4 class="title">About</h4>

                        <div class="sub-title"><%= accommodation.about %></div>
                        
                        <div class="custom-home-about">   
                            <ul>
                                <li>
                                    <p>Room Type</p><span><%= accommodation.roomType %></span>
                                </li>
                                <li>
                                    <p>In & Out</p><span>Check in <%= accommodation.in %> · Check out <%= accommodation.out %></span>
                                </li>
                            </ul>
                        </div>

                        <div class="dividers dividers-border-bottom"></div>

                        <div class="widget widget-tour-by-types custom-widget">
                            <h4 class="widget-title">Amenities</h4>
                            <div class="custom-amenities">
                                <ul>
                                    <% for(let amenitie of accommodation.amenities){ %>
                                    <li><%= amenitie %></li>
                                    <% } %>
                                </ul>
                                <ul>
                                    <li>Kitchen</li>
                                    <li>Shampoo</li>
                                    <li>Essentials</li>
                                    <li>Heating</li>
                                    <li>Washer</li>
                                    <li>Dryer</li>
                                    <li>Indoor fireplace</li>
                                    <li>Pets allowed</li>
                                </ul>
                            </div>
                        </div>


                        <div class="dividers dividers-border-bottom"></div>

                        <h4 class="title">Rules</h4>

                        <div class="custom-home-about custom-home-rules">   
                            <ul>
                                <li>
                                    <p>General</p>
                                    <span><%= accommodation.rules %></span>
                                </li>
                                <li>
                                    <p>Promotions</p>
                                    <span>
                                        <% if(accommodation.weeklyDiscount){ %>
                                         Weekly Discount: <%= accommodation.weeklyDiscount %>% <br>
                                        <% } if(accommodation.monthlyDiscount){ %>
                                            Montly Discount: <%= accommodation.monthlyDiscount %>% <br>
                                        <% } %>
                                    </span>
                                </li>
                                <li>
                                    <p>Safe booking</p>
                                    <span>To protect your payment, never transfer money or communicate outside of the Airbnb website or app.</span>
                                </li>
                            </ul>
                        </div>

                        <div class="dividers dividers-border-bottom"></div>

                        <h4 class="title">Host</h4>
                        <div class="custom-host custom-similar">
                            <div>
                                <h6>Olivier</h6>
                                <p>Grimisuat, Switzerland · Joined in September 2012</p>
                            </div>
                            <div>
                                <img src="/upload/images/clients/rv-i2.jpg">
                            </div>
                        </div>
                        <div class="custom-similar custom-self-introduction">
                            <h6>Self introduction</h6>
                            <p>Nous sommes de suisse et je suis architecte donc j'aime les beaux espaces le calme et la nature...</p>
                            <ul>
                                <li>Languages:<span>Français</span></li>
                                <li>Response rate:<span>100%</span></li>
                                <li>Response time:<span>within an hour</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
                
                <!-- /.flat-form-book-now -->

            </section>
        </div>
        <!-- /.col-md-8 -->

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
</section>