 <!-- Page title -->
 <div class="page-title">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="page-title-heading">
                    <h1 class="title">Events</h1>
                </div>
                <!-- /.page-title-captions -->
            </div>
            <!-- /.col-md-6 -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-title -->
</div>
<!-- /.wrap-header -->

<!-- Blog posts -->
<% for (let i = 0; i < events.length; i++) { %>
<section class="main-content blog-posts blog-single pd-blog-single bg-theme">
<div class="container">
    <div class="row">
        <div class="col-md-11">
            <div class="post-wrap">
                <article class="post clearfix">
                    <div class="featured-post">
                        <img src="/<%= events[i].image %>" alt="image">
                    </div>
                    <!-- /.feature-post -->
                    <div class="content-post">
                        <ul class="meta-post clearfix">
                            <li class="day">
                                <p> <%= events[i].country %>, <%= events[i].city %>, <%= events[i].place %></p>
                                <p> <%= events[i].date %></p>
                            </li>
                        </ul>
                        <!-- /.meta-post -->
                        <h4 class="title-post">
                            <a href="javascript:void(0)"><%= events[i].title %></a>
                        </h4>
                        <div class="entry excerpt-v1">
                            <p><%= events[i].description %></p>
                        </div>
                    </div>
                    <!-- /.content-post -->
                </article>
            </div>
            <!-- /.post-wrap -->
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
</section>
<% } %>