<!-- Page title -->
<div class="page-title">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="page-title-heading">
                    <h1 class="title">Guide Details</h1>
                </div>
                <!-- /.page-title-captions -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6 col-md-6 col-xs-12">
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-title -->
</div>
<!-- /.wrap-header -->

<!-- Blog posts -->
<section class="flat-row custom-flat-row pd-destination-details bg-theme">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="wrap-destination-detail custom-wrap-destination-detail">
                    <div class="box-trip-review custom-box-trip-review">
                        <div class="col-md-4 col-sm-4 col-xs-12 custom-resp-center">
                            <div class="featured-trip custom-featured-trip">
                                <img class="custom-img" src="/<%= guide.image %>" alt="img">
                            </div>
                            <div class="content-trip custom-content-trip">
                                <h4 class="title"><a href="#"><%= guide.firstName %> <%= guide.lastName %></a></h4>
                                <div class="wrap-star s2">
                                    <ul class="star">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <div class="reviews">(14 reviews)</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="wrap-title custom-wrap-title">
                                <h4>Your need to know</h4>
                            </div>

                            <div class="box-map">
                                <div class="info-map custom-info-map ">
                                    <div class="left">
                                        <p>Age</p>
                                        <p>Experience</p>
                                        <p>Languages</p>
                                        <p>Gender</p>
                                        <p>Location</p>
                                    </div>
                                    <div class="right">
                                        <p><%= guide.age %></p>
                                        <p><%= guide.experience %> Years</p>
                                        <p><%= guide.languages %></p>
                                        <p><%= guide.gender %></p>
                                        <p><%= guide.city %>, <%= guide.country %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-trip-review -->
                </div>
                <!-- /.post-wrap -->            

                <div class="guide-overview">
                    <div class="wrap-title s2">
                        <h4>Overview</h4>
                    </div>
                    <p class="content-destination">
                        <%= guide.description %>
                    </p>
                </div>

                <div class="flat-tabs" data-effect="fadeIn">
                    <div class="wrap-radio menu-tab">
                
                        <div class="radio active">
                            <input id="radio-1" name="radio" type="radio" checked="checked">
                            <label for="radio-1" class="radio-label">Review</label>
                        </div>
                
                        <div class="radio">
                            <input id="radio-2" name="radio" type="radio">
                            <label for="radio-2" class="radio-label">Add Review</label>
                        </div>
                    </div>
                    <!-- /.menu-tab -->
                    <div class="content-tab">
                
                        <div class="content-inner active">
                            <div class="flat-list-review">
                                <ul class="list-review clearfix">
                                    <script> let starCounts = []; </script>
                                        <% for(let i=0; i < guide.reviews.length; i++){ %>
                                        <li class="item">
                                            <div class="thumb overlays2">
                                                <a href="#" class="link">
                                                    <img src="/<%= users[i].image %>" alt="image" style="width: 93px;">
                                                </a>
                                            </div>
                                            <div class="text">
                                                <h5>
                                                    <a href="#"><%= users[i].uname %></a>
                                                </h5>
                                                <p class="date">Aug 20, 2017</p>
                                                <div class="wrap-star s2 v1">
                                                    <ul id="review-stars" class="star v1" required="required">
                                                        <li data-value="1"></li>
                                                        <li data-value="2"></li>
                                                        <li data-value="3"></li>
                                                        <li data-value="4"></li>
                                                        <li data-value="5"></li>
                                                    </ul>
                                                </div>
                                                <div class="sub-title"><%= guide.reviews[i].review %></div>

                                                <% if (globalSession.user_type == 'user' && globalSession.user_id == users[i].id){ %>
                                                    <p class="date">
                                                        <a href="/review/guide/delete/<%= guide.reviews[i].id %>">
                                                            <i class="fa fa-trash-o"></i>
                                                        </a>
                                                    </p>
                                                <% } %>
                                                
                                                <script> starCounts.push('<%= guide.reviews[i].stars %>'); </script>
                                            </div>
                                        </li>
                                        <% } %>
                                </ul><!-- /.popular-news -->
                            </div>
                        </div><!-- /.content-inner -->
                
                        <%- include('./components/add-review.ejs') %>
                
                    </div><!-- /.content-tab -->
                </div><!-- /.flat-tabs -->

            </div><!-- /.col-md-9 -->

            <div class="col-md-3">
                <div class="sidebar">
                    <% if(guide.guideTours.length !== 0){ %>
                    <div class="widget widget-reviewes-tours">
                        <h4 class="widget-title custom-widget-title">
                            <span>Tours</span> of Guide
                        </h4>
                        <ul class="popular-news clearfix">
                            <% for(let tours of guide.guideTours){ %>
                            <li>
                                <div class="thumb overlays2">
                                    <a href="/tour-details/<%= tours.id %>" class="link">
                                        <img src="/<%= tours.images[0] %>" alt="image">
                                    </a>
                                </div>
                                <div class="text">
                                    <h6><%= tours.title %></h6>
                                    <div class="sub-title"><%= tours.city %>, <%= tours.area %></div>
                                    <p class="time"><%= tours.duration %> days -
                                        <span><%= tours.currency %><%= tours.price %></span>
                                    </p>
                                </div>
                            </li>
                            <% } %>
                            
                        </ul><!-- /.popular-news -->
                    </div><!-- /.widget-popular-news -->
                    <% } %>

                </div><!-- /.sidebar -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>