<!-- Page title -->
<div class="page-title">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">                    
                <div class="page-title-heading">
                    <h1 class="title">Guides</h1>
                </div><!-- /.page-title-captions -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->  
    </div><!-- /.container -->                      
</div><!-- /.page-title --> 
</div><!-- /.wrap-header --> 

<!-- Team Member -->
<section class="flat-row pd-team11 bg-theme page-tour-guide">
<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="dividers dividers-title-section"></div>
            <div class="title-section color-black style3 v1">
                <a class="number-slide" href="#">01</a>
                <h2 class="title"><span>Guides</span></h2> <!-- ./title -->                        
            </div>
            <div class="dividers dividers-team"></div>
        </div>
        
        <script> let starCounts = []; </script>
        <% for (let i = 0; i < guides.length; i++) { %>
        <div class="col-md-4">
            <div class="team-member">
                <div class="item overlays2">
                    <div class="flat-team text-center">
                        <div class="avatar">
                            <a class="link" href="/guide-details/<%= guides[i].id %>">        
                                <a href="#">                                
                                    <img src="/<%= guides[i].image ? guides[i].image : 'upload/photos/profile/photo.jpg' %>" alt="img">
                                </a>
                            </a>
                        </div> <!-- /.avatar -->
                        <div class="content">
                            <h4 class="name"><a href="/guide-details/<%= guides[i].id %>"><%= guides[i].firstName %> <%= guides[i].lastName %></a></h4>
                            <div class="position">
                                <span> <%= guides[i].languages %></span>
                            </div>
                            <div class="wrap-star s2 v1">
                                <ul id="review-stars" class="star v1" required="required">
                                    <li data-value="1"></li>
                                    <li data-value="2"></li>
                                    <li data-value="3"></li>
                                    <li data-value="4"></li>
                                    <li data-value="5"></li>
                                </ul>
                                <script> 
                                    starCounts.push(Math.round('<%= guides[i].dataValues.totalStars %>')); 
                                </script>
                            </div>
                        </div> <!-- /.content -->
                    </div> <!-- /.flat-team -->
                </div> <!-- /.item -->
            </div> <!-- /.team-member -->
        </div> <!-- /.col-md-4 --> 
        <% } %>
        
    </div>

    <div class="dividers v13h40">
    </div>

    <div class="btn-teammember">
        <button class="flat-button">Load More</button>         
    </div>          
</div><!-- /.container -->   
</section> 
