<!-- slide -->
<div id="banner-container" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.3.0.2 auto mode -->
    <div id="banner-slide" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
        <div class="slotholder"></div>


        <ul>
            <!-- SLIDE  -->

            <!-- SLIDE 1 -->
            <li data-index="rs-3049" data-transition="slideremovedown" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-saveperformance="off"
            data-title="Ken Burns" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <!-- MAIN IMAGE -->
                <img src="/upload/images/slides/slide1.jpg" alt="" data-bgposition="center center" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0"
                data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 11 -->

                <div class="tp-caption title-slide color-white" id="slide-3050-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-125','-95','-55','-15']" data-fontsize="['40','35','30','20']"
                data-lineheight="['80','65','45','35']" data-fontweight="['700','700','700','700']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                data-textAlign="['center','center','center','center']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0" data-paddingleft="[0,0,0,0]" style="z-index: 16; white-space: nowrap;text-transform:left;">
                    <span>Travelling</span> is an Art
                </div>
            </li>

            <!-- SLIDE 2 -->
            <li data-index="rs-3048" data-transition="random-static" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-saveperformance="off"
            data-title="HTML5 Video" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <!-- MAIN IMAGE -->
                <img src="/upload/images/slides/slide1.jpg" alt="" data-bgposition="center center" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0"
                data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->


                <div class="tp-caption title-slide color-white" id="slide-3050-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-125','-95','-55','-15']" data-fontsize="['40','35','30','20']"
                data-lineheight="['80','65','45','35']" data-fontweight="['700','700','700','700']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                data-textAlign="['center','center','center','center']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0" data-paddingleft="[0,0,0,0]" style="z-index: 16; white-space: nowrap;text-transform:left;">
                    <span>Travelling</span> is an Art
                </div>

            </li>

            <!-- SLIDE 3 -->
            <li data-index="rs-3047" data-transition="slideremovedown" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-saveperformance="off"
            data-title="Ken Burns" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <!-- MAIN IMAGE -->
                <img src="/upload/images/slides/slide1.jpg" alt="" data-bgposition="center center" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0"
                data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->


                <div class="tp-caption title-slide color-white" id="slide-3050-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-125','-95','-55','-15']" data-fontsize="['40','35','30','20']"
                data-lineheight="['80','65','45','35']" data-fontweight="['700','700','700','700']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                data-textAlign="['center','center','center','center']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0" data-paddingleft="[0,0,0,0]" style="z-index: 16; white-space: nowrap;text-transform:left;">
                    <span>Travelling</span> is an Art
                </div>

            </li>

            <!-- SLIDE 4 -->
            <li data-index="rs-3046" data-transition="random-static" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-saveperformance="off"
            data-title="HTML5 Video" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <!-- MAIN IMAGE -->
                <img src="/upload/images/slides/slide1.jpg" alt="" data-bgposition="center center" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0"
                data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->


                <div class="tp-caption title-slide color-white" id="slide-3050-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-125','-95','-55','-15']" data-fontsize="['40','35','30','20']"
                data-lineheight="['80','65','45','35']" data-fontweight="['700','700','700','700']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                data-textAlign="['center','center','center','center']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0" data-paddingleft="[0,0,0,0]" style="z-index: 16; white-space: nowrap;text-transform:left;">
                    <span>Travelling</span> is an Art
                </div>

            </li>

        </ul>
        <div class="wrap-box-search">
            <form role="search" method="get" id="searchform" class="revtp-searchform" action="#">
                <span class="select wrap-country">
                <select id="country" class="country">
                    <option value="1">Select Country</option>
                    <option value="2">Azerbaijan</option>
                </select>
            </span>
                <span class="select wrap-city">
                <select id="city" class="city">
                    <option value="1">Select Category</option>
                    <option value="1">Tours</option>
                    <option value="1">Hire (car,bike,boat)</option>
                    <option value="1">Transfer</option>
                    <option value="1">Organisations</option>
                    <option value="1">Hunting</option>
                    <option value="1">Offroad</option>
                    <option value="1">Entertainment</option>
                    <option value="1">Culture & Art</option>
                    <option value="1">Beauty & Health</option>
                    <option value="1">Personal Driver</option>
                    <option value="1">Photo & Video</option>
                </select>
            </span>
                <button class="search-submit">Search</button>
            </form>
        </div>

        <div class="slide-social-list">
            <ul>
                <li class="facebook">
                    <a href="#"></a>
                </li>
                <li class="twitter active">
                    <a href="#"></a>
                </li>
                <li class="instagram">
                    <a href="#"></a>
                </li>
            </ul>
        </div>

    </div>
</div><!-- END REVOLUTION SLIDER -->

</div><!-- /.wrap-header -->

<!-- imagebox -->

<script> let starCounts = []; </script>

<!-- Tours -->
<section class="flat-row pd-imagebox v4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-3">
                <div class="dividers dividers-title-section"></div>
                <div class="title-section color-black style3 gallery">
                    <a class="number-slide" href="/accommodations">01</a>
                    <h3 class="top-section">Recommended for you</h3> <!-- /.top-section -->
                    <h2 class="title">Our Adventures & <span>Tours</span> </h2><!-- ./title -->
                </div>
            </div><!-- /.col-md-4 -->
            
            <% for(tour of tours){ %>
            <div class="col-lg-4 col-md-3">
                <div class="flat-imagebox style2 v2">
                    <div class="item">
                        <div class="imagebox">
                            <div class="box-wrap">
                                <div class="box-image">
                                    <a href="/tour-details/<%= tour.id %>"><img src="/<%= tour.images[0] %>" alt="img"></a>
                                    <div class="overlay"></div> <!-- /.overlay -->
                                    <div class="imagebox-content">
                                        <ul class="imagebox-link">
                                            <li class="icon-s FromLeft">
                                                <a href="/tour-details/<%= tour.id %>">
                                                    <button class="flat-button">Book Now</button>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <h4><%= tour.title %></h4>
                                    <div class="money"><%= tour.price %> <span> <%= tour.currency %></span></div>
                                    <div class="sub-title"><%= tour.duration %> days</div>
                                    <div class="wrap-star s2 v1">
                                        <ul id="review-stars" class="star v1" required="required">
                                            <li data-value="1"></li>
                                            <li data-value="2"></li>
                                            <li data-value="3"></li>
                                            <li data-value="4"></li>
                                            <li data-value="5"></li>
                                        </ul>
                                        <script> 
                                            starCounts.push(Math.round('<%= tour.dataValues.totalStars %>')); 
                                        </script>
                                    </div>
                                </div>
                            </div> <!-- /.box-wrap -->
                        </div> <!-- /.imagebox -->
                    </div> <!-- /.item -->
                    <div class="dividers dividers-imagebox s2 v2"></div>
                </div> <!-- /.flat-imagebox -->
            </div> <!-- /.col-md-4 -->
            <% } %>   
            
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- Accommodations -->
<section class="flat-row pd-imagebox bg-theme">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-3">
                <div class="dividers dividers-title-section"></div>
                <div class="title-section color-black style3 gallery">
                    <a class="number-slide" href="/accommodations">02</a>
                    <h3 class="top-section">Recommended for you</h3> <!-- /.top-section -->
                    <h2 class="title">
                        <span>Accommondations</span>
                    </h2><!-- ./title -->
                </div>
            </div><!-- /.col-md-4 -->
            
            <% for(accommodation of accommodations){ %>
            <div class="col-lg-4 col-md-4 col-md-3">
                <div class="flat-imagebox style2 v3">
                    <div class="item">
                        <a href="/accommodation-details/<%= accommodation.id %>">
                            <div class="imagebox">
                                <div class="box-wrap">
                                    <div class="box-image">
                                        <a href="/accommodation-details/<%= accommodation.id %>"><img src="/<%= accommodation.images[0] %>" alt="img"></a>
                                        <div class="overlay"></div> <!-- /.overlay -->
                                    </div>
                                    <div class="box-content">
                                        <h4><%= accommodation.title %></h4>
                                        <h6><%= accommodation.roomType %> - <%= accommodation.bedCount %> beds</h6>
                                        <p><%= accommodation.location %></p>
                                        <div class="wrap-star s2 v1">
                                            <ul id="review-stars" class="star v1" required="required">
                                                <li data-value="1"></li>
                                                <li data-value="2"></li>
                                                <li data-value="3"></li>
                                                <li data-value="4"></li>
                                                <li data-value="5"></li>
                                            </ul>
                                            <script> 
                                                starCounts.push(Math.round('<%= accommodation.dataValues.totalStars %>')); 
                                            </script>
                                        </div>
                                        <div class="money"> <%= accommodation.price %> <span><%= accommodation.currency %> per night</span></div>
                                    </div>
                                </div> 
                            </div>
                        </a>
                    </div> <!-- /.item -->
                    <div class="dividers dividers-imagebox s2"></div>
                </div>
            </div> <!-- /.col-md-4 -->
            <% } %>
            
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- Events -->
<section class="flat-row pdtitle-section v2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="dividers dividers-title-section"></div>
                <div class="title-section color-black style3 v1">
                    <a class="number-slide" href="#">03</a>
                    <h3 class="top-section">
                <span>Upcoming</span> Events</h3>
                </div>
                <div class="box-title-section">
                    <div class="meta-date">
                        <p class="date">Aug
                            <span>20</span>, 2018 to Aug
                            <span>26</span>, 2018</p>
                        <p class="title">Wild Life Travel &
                            <span>Tourism</span>
                        </p>
                        <p class="quantity">Caprarola(
                            <span>Italy</span>), 12 People, 6Days</p>
                        <p class="content">Far far away, behind the word mountains, from the countries Vokalia Consonantia thelive the blind textSeparated in Bookmark grove right at the coast of the language ocean.</p>
                    </div>
                </div>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="wrar-slides s1 v1">
                    <div class="flat-slides">
                        <ul class="slides">
                            <li>
                                <img src="/upload/images/home/sl-i2.jpg" alt="">
                            </li>

                            <li>
                                <img src="/upload/images/home/sl-i2.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                    <!-- /.flat-slides -->
                </div>
                <!-- /.wrar-slides -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Guides -->
<section class="flat-row pd-galerry bg-theme">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="dividers dividers-title-section"></div>
                <div class="title-section color-black style3 gallery">
                    <a class="number-slide" href="/accommodations">04</a>
                    <h2 class="title">Our Tour <span>Guides</span> </h2><!-- ./title -->
                </div>
            </div><!-- /.col-md-4 -->

            <% for(guide of guides){ %>
            <div class="col-lg-3 col-md-3">
                <div class="team-member">
                    <div class="item overlays2">
                        <div class="flat-team text-center">
                            <div class="avatar">
                                <a class="link" href="/guide-details/<%= guide.id %>"">
                                    <a href="#">
                                        <img src="/<%= guide.image ? guide.image : 'upload/photos/profile/photo.jpg' %>" alt="img">
                                    </a>
                                </a>
                            </div>
                            <div class="content">
                                <h4 class="name">
                                    <a href="/guide-details/<%= guide.id %>"><%= guide.firstName %> <%= guide.lastName %></a>
                                </h4>
                                <div class="position">
                                    <span><%= guide.languages %></span>
                                </div>
                                <div class="wrap-star s2 v1">
                                    <ul id="review-stars" class="star v1" required="required">
                                        <li data-value="1"></li>
                                        <li data-value="2"></li>
                                        <li data-value="3"></li>
                                        <li data-value="4"></li>
                                        <li data-value="5"></li>
                                    </ul>
                                    <script> 
                                        starCounts.push(Math.round('<%= guide.dataValues.totalStars %>')); 
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- Reviews -->
<section class="flat-row parallax parallax3 overlay-s2 pd-slider-inconbox">
    <div class="overlay-parallax"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="dividers dividers-title-section"></div>
                <div class="title-section color-white style3 v1">
                    <a class="number-slide" href="#">05</a>
                    <h2 class="title">
                    <span>Reviews </span>
                </h2>
                    <!-- ./title -->
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-8">
                <div class="wrap-icon-box s1 flexslidericonbox">
                    <ul class="slides">
                        <li>
                            <div class="iconbox-item">
                                <div class="iconbox right color-white circle">
                                    <div class="box-icon">
                                        <div class="border-circle1">
                                            <div class="border-circle2">
                                                <img src="/upload/images/home/ib-h1-i1.jpg" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-content">
                                        <h4 class="box-title">
                                        <a href="#">Spruce Springclean</a>
                                    </h4>
                                        <div class="sub-title">
                                            <span>Ui</span>designer</div>
                                        <p>
                                            <span>&ldquo;</span> Far far away, behind the word mountains from the countries Vokalia Consonantia, there live the blind texts. Separated they in Bookmarks grove right at the coast of the Semantics language
                                            ocean.
                                            <span>&rdquo;</span>
                                        </p>
                                    </div>

                                </div>
                                <!-- /.iconbox -->
                            </div>
                        </li>

                        <li>
                            <div class="iconbox-item">
                                <div class="iconbox right color-white circle">
                                    <div class="box-icon">
                                        <div class="border-circle1">
                                            <div class="border-circle2">
                                                <img src="/upload/images/home/ib-h1-i1.jpg" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-content">
                                        <h4 class="box-title">
                                        <a href="#">Spruce Springclean</a>
                                    </h4>
                                        <div class="sub-title">
                                            <span>Ui</span>designer</div>
                                        <p>
                                            <span>&ldquo;</span> Far far away, behind the word mountains from the countries Vokalia Consonantia, there live the blind texts. Separated they in Bookmarks grove right at the coast of the Semantics language
                                            ocean.
                                            <span>&rdquo;</span>
                                        </p>
                                    </div>

                                </div>
                                <!-- /.iconbox -->
                            </div>
                        </li>
                    </ul>

                </div>
                <!-- /.testimonials -->
            </div>
        </div>
    </div>
</section>

<!-- Video -->
<section class="video custom-video parallax parallax6 bond-row" style="margin-top: 200px;">
    <div class="container-fluid">
        <div class="row">
            <video width="100%" height="100%" controls>
                <source src="/upload/video/azerbaijan.mp4" type="video/mp4">
                <source src="/upload/movie.ogg" type="video/ogg">
            </video>
        </div>
    </div>
</section>

<!-- Slider -->
<section class="flat-row pdtitle-section v1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="dividers dividers-title-section"></div>
                <div class="title-section color-black style3">
                    <a class="number-slide" href="#">6</a>
                    <h3 class="top-section">The Land of
                <span>Fire</span>
            </h3>
                    <!-- /.top-section -->
                    <h2 class="title">About Azerbaijan</span>
            </h2>
                    <!-- ./title -->
                    <div class="sub-title">
                        <p>
                            The rich historical, cultural and natural heritage of the country attracts visitors from all over the world. Untouched nature, mineral springs, the world's only oil field treatment - naphthalene, a unique ancient architecture, unique culture, cuisine,
                            and more contribute to the formation in Azerbaijan of all types of tourism: business, sport, medical, cognitive, hunting, exotic, beach and even gastronomic. The government of Azerbaijan has set the development of Azerbaijan
                            as an elite tourist destination as a top priority. It is a national strategy to make tourism a major, if not the single largest, contributor to the Azerbaijani economy. These activities are regulated by the Ministry of Culture
                            and Tourism of Azerbaijan. There are 63 countries which have visa-free score. E-visa – for a visit of foreigners of visa-required countries to the Republic of Azerbaijan.
                        </p>
                    </div>
                    <!-- /.sub-title -->
                </div>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6 col-md-6">
                <div class="wrar-slides s1">
                    <div class="flat-slides">
                        <ul class="slides">
                            <li>
                                <img src="/upload/images/home/sl-i1.jpg" alt="">
                            </li>

                            <li>
                                <img src="/upload/images/home/sl-i1.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                    <!-- /.flat-slides -->
                </div>
                <!-- /.wrar-slides -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

