<!-- Page title -->
<div class="page-title">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="page-title-heading">
                    <h1 class="title">Booking</h1>
                </div>
                <!-- /.page-title-captions -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6 col-md-6 col-xs-12">

            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.page-title -->
</div>
<!-- /.wrap-header -->

<!-- Blog posts -->
<section class="flat-row pd-destination-details custom-pd-destination-details bg-theme">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-destination-detail">
                    <div class="content-trip">
                        <h4 class="title">
                                <a href="#"><%= tour.title %> - <%= tour.price %> <%= tour.currency %></a>
                            </h4>
                        <p class="sub-title">
                            <%= tour.country %>,
                                <%= tour.city %>,
                                    <%= tour.area %>
                        </p>
                        <div class="wrap-star s2">
                            <ul class="star">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>

                    <!--start-->
                    <div class="tour-slider">
                        <div id="ninja-slider" style="float:left;">
                            <div class="slider-inner">
                                <ul>
                                    <% for(let i=0; i < tour.images.length; i++){ %>
                                        <li>
                                            <a class="ns-img" href="/<%= tour.images[i] %>"></a>
                                        </li>
                                        <% } %>
                                </ul>
                                <div class="fs-icon" title="Expand/Close"></div>
                            </div>
                        </div>
                        <div id="thumbnail-slider" style="float:left;">
                            <div class="inner">
                                <ul>
                                    <% for(let i=0; i < tour.images.length; i++){ %>
                                        <li>
                                            <a class="thumb" href="/<%= tour.images[i] %>"></a>
                                        </li>
                                        <% } %>
                                </ul>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>

                    <!-- </div> -->
                    <div class="box-filter-search">
                        <div class="wrap-form-filter-search">
                            <form class="filter-search-form update-form">
                                <div class="filter-search-input update-input">
                                    <div class="form-group custom-tour-form-group">
                                        <div class="input-group custom-input-group date form_date col-md-3" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                            <input class="form-control" size="16" type="text" value="" readonly>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <input type="hidden" id="dtp_input2" value="" />
                                        <br/>
                                    </div>
                                    <div class="filter-search custom-filter-search tour-custom-filter-search">
                                        <p class="select search-filter-input">
                                            <select>
                                                <option value="1">Adult (Age 24+)</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </p>
                                        <p class="select search-filter-input">
                                            <select>
                                                <option value="1">Youth (Age 16 to 23)</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </p>
                                        <p class="select search-filter-input">
                                            <select>
                                                <option value="1">Child (Age 0 to 23)</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </p>
                                    </div>
                                </div>
                                <p class="form-filter-search-submit">
                                    <button class="filter-search-submit">Book now</button>
                                </p>
                            </form>
                        </div>
                    </div>
                    <!-- /.box-filter-search -->

                    <div class="wrap-title s2">
                        <h4>Overview</h4>
                    </div>
                    <p class="content-destination">
                        <%= tour.overview %>
                    </p>

                    <!-- /.widget-categories -->
                    <div class="widget widget-tour-by-types custom-widget">
                        <h4 class="widget-title">Inclusions</h4>
                        <ul>
                            <% for(let i=0; i < tour.inclusions.length; i++){ %>
                                <li>
                                    <%= tour.inclusions[i] %>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                    <!-- /.widget-categories -->
                    <div class="wrap-title s2">
                        <h4>Departure Time: </h4>
                    </div>
                    <p class="content-destination">Every day at:
                        <%= tour.time %>
                    </p>

                    <div class="wrap-title s2">
                        <h4>Duration:</h4>
                    </div>
                    <p class="content-destination">
                        <%= tour.duration %> days</p>

                    <% if(tour.additional){ %>
                        <div class="wrap-title s2">
                        <h4>Additional Info</h4>
                    </div>
                    <p class="content-destination">
                        <%= tour.additional %>
                    </p>
                    <% } %>


                    <div class="flat-tabs" data-effect="fadeIn">
                        <div class="wrap-radio menu-tab">
                    
                            <div class="radio active">
                                <input id="radio-1" name="radio" type="radio" checked="checked">
                                <label for="radio-1" class="radio-label">Review</label>
                            </div>
                    
                            <div class="radio">
                                <input id="radio-2" name="radio" type="radio">
                                <label for="radio-2" class="radio-label">Add Review</label>
                            </div>
                        </div>
                        <!-- /.menu-tab -->
                        <div class="content-tab">
                    
                            <div class="content-inner active">
                                <div class="flat-list-review">
                                    <ul class="list-review clearfix">
                                        <script> let starCounts = []; </script>
                                        <% for(let i=0; i < tour.reviews.length; i++){ %>
                                        <li class="item">
                                            <div class="thumb overlays2">
                                                <a href="#" class="link">
                                                    <img src="/<%= users[i].image %>" alt="image" style="width: 93px;">
                                                </a>
                                            </div>
                                            <div class="text">
                                                <h5>
                                                    <a href="#"><%= users[i].uname %></a>
                                                </h5>
                                                <p class="date">Aug 20, 2017</p>
                                                <div class="wrap-star s2 v1">
                                                    <ul id="review-stars" class="star v1" required="required">
                                                        <li data-value="1"></li>
                                                        <li data-value="2"></li>
                                                        <li data-value="3"></li>
                                                        <li data-value="4"></li>
                                                        <li data-value="5"></li>
                                                    </ul>
                                                </div>
                                                <div class="sub-title"><%= tour.reviews[i].review %></div>

                                                <% if (globalSession.user_type == 'user' && globalSession.user_id == users[i].id){ %>
                                                <p class="date">
                                                    <a href="/review/tour/delete/<%= tour.reviews[i].id %>">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </p>
                                                <% } %>
                                                
                                                <script> starCounts.push('<%= tour.reviews[i].stars %>'); </script>
                                            </div>
                                        </li>
                                        <% } %>
                                    </ul><!-- /.popular-news -->
                                </div>
                            </div><!-- /.content-inner -->
                    
                            <%- include('./components/add-review.ejs') %>
                    
                        </div><!-- /.content-tab -->
                    </div><!-- /.flat-tabs -->
                    

                    <% if (accommodations[0] != undefined){ %>
                    <div class="wrap-title s3">
                        <h4>Suggested Houses</h4>
                    </div>

                    <div class="wrap-imagebox">

                        <%  for(let accommodation of accommodations){ %>
                        <div class="wrap-item-imagebox">
                            <div class="flat-imagebox style2 v3">
                                <div class="item">
                                    <a href="/accommodation-details/<%= accommodation.id %>">
                                        <div class="imagebox">
                                            <div class="box-wrap">
                                                <div class="box-image">
                                                    <a href="#"><img src="/<%= accommodation.images[0] %>" alt="img"></a>
                                                    <div class="overlay"></div>
                                                    <!-- /.overlay -->
                                                </div>
                                                <div class="box-content">
                                                    <h4><%= accommodation.city %></h4>
                                                    <h6><%= accommodation.roomType %> <%= accommodation.bedCount %> bed</h6>
                                                    <span>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </span>
                                                    <div class="money"> <span><%= accommodation.currency %></span><%= accommodation.price %><span> per night</span></div>
                                                </div>
                                            </div>
                                            <!-- /.box-wrap -->
                                        </div>
                                        <!-- /.imagebox -->
                                    </a>
                                </div> <!-- /.item -->
                                <div class="dividers dividers-imagebox s2 v3"></div>
                            </div> <!-- /.flat-imagebox -->
                        </div> <!-- /.wrap-item-imagebox -->
                       <%  }} %>

                    </div>
                </div>
                <!-- /.post-wrap -->
            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>